* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: Spartan, sans-serif;
}

:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

main {
  background-color: black;
  height: 100vh;
  display: grid;
  grid-template: 'column1 column2';
  grid-template-columns: 45% 55%;
}

.column1 {
  grid-area: column1;
  background-color: var(--body-bg-color);
}
.column2 {
  grid-area: column2;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
