.column1 {
  display: flex;
  flex-direction: column;
  padding: 3rem 1.8rem;
}

/* ----------------------------------------------------------------- */

.column1-image {
  width: 24rem;
  height: 5.8rem;
  margin-bottom: 5rem;
}

/* ----------------------------------------------------------------- */
.conteudo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 3rem;
}
.conteudo h3 {
  font-family: 'Work Sans';
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--title-color);
}
.conteudo h5 {
  font-size: 0.8rem;
  font-weight: 700;
}

.conteudo p {
  font-size: 0.8rem;
  font-weight: 400;
}
.column1-image {
  width: 24rem;
  height: 5.8rem;
  margin-bottom: 5rem;
}
